HTTPS_PORT=443
WEB_PORT=8080
POSTGRES_DB=password_lab
POSTGRES_USER=labapp
POSTGRES_PASSWORD=replace-with-a-strong-password
GITEA_HTTP_PORT=3001
GITEA_SSH_PORT=2222
GITEA_USERNAME=laujoelian
GITEA_FULL_NAME=Lau Joe Lian
GITEA_EMAIL=2400857@sit.singaporetech.edu.sg
GITEA_PASSWORD=replace-with-a-strong-password
