BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=replace-with-a-strong-password
WEB_PORT=8080
HTTPS_PORT=443
GITEA_HTTP_PORT=3001
GITEA_SSH_PORT=2222
GITEA_USERNAME=laujoelian
GITEA_FULL_NAME=Lau Joe Lian
GITEA_EMAIL=2400857@sit.singaporetech.edu.sg
GITEA_PASSWORD=replace-with-a-strong-password
